LANDING_SIGNUP_TOKEN=seu_token_aqui
SUPABASE_ANON_KEY=sua_anon_key_aqui
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui
MERCADO_PAGO_PUBLIC_KEY=sua_public_key_do_mercado_pago
MERCADO_PAGO_ACCESS_TOKEN=seu_access_token_do_mercado_pago
